<% if not defined? sortable 
     sortable = true
   end
%>
<div class="sermon_row">
<%= render partial: "field_header", locals: { field: :MP3, sortable: false } %>
<%= render partial: "field_header", locals: { field: :Date, sortable: sortable,
                                              sort_direction: :desc } %>
<%= render partial: "field_header", locals: { field: :Service, sortable: sortable } %>
<%= render partial: "field_header", locals: { field: :Speaker, sortable: sortable } %>
<%= render partial: "field_header", locals: { field: :Title, sortable: sortable } %>
<%= render partial: "field_header", locals: { field: :Passage, sortable: sortable } %>
</div>
