<div id="sermons_area">
  <%= render 'service_links' %>
<%= render 'paginate_info' %>
<div id="sermon_list">
  <div class="sermon_row">
    <%= field_header :date, :desc %>
    <%= field_header :service %>
    <%= field_header :speaker %>
    <%= field_header :passage %>
  </div>
<%= render partial: 'sermon', collection: @sermons %>
</div>
<%= render 'paginate_info' %>
</div>
