<div id="sermons_area">
<%= render 'paginate_info' %>
<div id="sermon_list">
<%= render "sermons_header" %>
<%= render partial: 'sermon', collection: @sermons %>
</div>
<%= render 'paginate_info' %>
</div>
<%= render 'sermon_links' %>
