<div id="sermons_area">
  <h3 id="filter_label"><%= @filter_label %></h3>
<%= render 'paginate_info' %>
<div id="sermon_list">
  <% if @sermons.empty? %>
    <p>No sermons found!</p>
  <% else %>
    <%= render "sermons_header" %>
    <%= render partial: 'sermon', collection: @sermons %>
  <% end %>
</div>
<%= render 'paginate_info' %>
</div>
<%= render 'sermon_links' %>
