<div id='menubar'>
  <ul>
    <li><%= link_to "Sermons", admin_sermons_path %></li>
    <li><%= link_to "Speakers", admin_speakers_path %></li>
    <li><%= link_to "Services", admin_services_path %></li>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Roles", admin_roles_path %></li>
  </ul>
</div>
