<!DOCTYPE html>
<html>
<head>
  <title><%= admin_full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="bp" id="admin_body">

  <div class='container' id='container'>
    <%= render 'layouts/admin_header' %>
    <%= render 'layouts/admin_leftbar' %>
    <div id='content'>
      <%= yield %>
    </div>
    <%= render 'layouts/admin_footer' %>
  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
