<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="bp" id="main_body">
  <div class='container' id='container'>

    <div id='content'>
      <div id='header'>
        <%= render 'layouts/main_header' %>
      </div>
      <%= yield %>
      <div id='footer'>
        <%= render 'layouts/main_footer' %>
      </div>
    </div>

  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
