<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="bp" id="main">
  <div class='container' id='container'>

    <%= render 'layouts/main_header' %>
    <div id='content'>
      <%= yield %>
    </div>
    <%= render 'layouts/main_footer' %>

  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
