<% @base_title = 'CCMV Sermon Archive' %>
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="CCMV.org, Calvary Chapel, Calvary Chapel Mountain View, Mountain View churches, Mountain View, nondenominational churches, nondenominational churches, ministries, california churches, contemporary worship, Silicon Valley, children's church, sunday school, child care, youth group, missions, community church, the Word of God" />
  <meta name="description" content="We are a nondenominational Christian fellowship located in the heart of the  Silicon Valley. Our focus is on teaching the word of God through the power of  the Holy Spirit and heartfelt contemporary worship of our Lord and Savior Jesus  Christ. We have a variety of ministries available to help you draw closer to  God. We pray the resources and information on this web site will help you in  your spiritual growth." />
</head>
<body class="bp ccmv" id="main_body">
  <div class='container' id='container'>

  <div id="page-bg">
    <div id='content'>
      <!-- Begin Header -->
      <div id='header'>
        <%= render 'layouts/ccmv_header' %>
      </div>
      <!-- End Header -->
      <%= yield %>
      <!-- Begin Footer -->
      <div id='footer'>
        <%= render 'layouts/ccmv_footer' %>
      </div>
      <!-- End Footer -->
    </div>

  </div>
  <h1>CCMV Layout</h1>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
