<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= tfth_title(yield(:title), 'Truth from the Heart') %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "tfth", :media => "all" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
          div.wrapper { margin: 0 auto; width: 962px;padding:0;}
          div.main-column-left { width:250px;padding:0;}
          div.main-column-right { width:250px;padding:0;}
          div.main-column-middle { margin-left:250px;margin-right:250px;padding:0;}
          #main-content2 { margin-right:0px;padding:0;}
          #inset { width:0px;padding:0;}
  </style>	
 
<script type="text/javascript">
window.addEvent('domready', function() {
	new Rokmoomenu($E('ul.menutop '), {
		bgiframe: false,
		delay: 500,
		animate: {
			props: ['width', 'opacity'],
			opts: {
				duration:600,
				fps: 200,
				transition: Fx.Transitions.Sine.easeOut			}
		}
	});
});
</script>
  
</head>
<body class="bp tfth f-default iehandle" id="ff-palatino">
  <div id="page-bg">

    <div id='content'>
      <!-- Begin Header -->
      <div id='header'>
        <%= render 'layouts/ccmv_header' %>
      </div>
      <!-- End Header -->
      <div id="section-two">
        <div class="top">
          <div class='container' id='container'>
            <div id="main-content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Footer -->
      <div id='footer'>
        <%= render 'layouts/ccmv_footer' %>
      </div>
      <!-- End Footer -->
    </div>
  </div>

</div>
</body>
</html>
